<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="crit">
      <ion-icon name="alert"></ion-icon>
      <ion-label>Critical</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="later">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Later</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="done">
      <ion-icon name="checkbox"></ion-icon>
      <ion-label>Done</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
